.sellingproductcard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Default for larger screens */
    width: 100%;
    height: fit-content;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #00bf63;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .sellingproductcard {
        justify-content: center;
        grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
    }
}


