.Home-Blog-Comp {
    display: flex;
    flex-direction: column; /* Ensure children stack vertically */
    height: auto; /* Allow the height to expand based on content */
    background-color: #EBFAF8;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    overflow: visible; /* Allow content to overflow without being hidden */
    padding-top: 2rem; /* Add padding on top if needed */
    padding-bottom: 2rem; /* Add padding at the bottom */
}

.inner-home-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Grid for responsive cards */
    gap: 1rem;  /* Adds space between cards */
    height: auto;  /* Prevents unnecessary height */
    justify-items: center;  /* Ensures grid items are centered horizontally */
    align-items: center;  /* Centers the content vertically */
    width: 70%;
    border-radius: 20px;
    box-shadow: inset;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.textHeaderHomeBlog{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 60%;
    align-items: center;
    flex-direction: column;

}
.inner-textHeaderHomeBlog{
    display: flex;

}

@media (max-width: 1024px) {
    .inner-home-box {
        width: 85%;  /* Adjust the width for medium screens */
    }
}

@media (max-width: 768px) {
    .inner-home-box {
        width: 90%;  /* Adjust the width for smaller screens */
        grid-template-columns: 1fr; /* Stack the cards vertically on small screens */
    }
}

@media (max-width: 480px) {
    .inner-home-box {
        width: 95%;  /* Make it even smaller for very small screens */
    }
}
