.cardbox {
  display: flex;
  height: 15vh; /* Adjust based on the desired size */
  background-color: whitesmoke;
  border-radius: 20px;
  width: 30vh;
  justify-content: center;
  overflow: hidden;
}

.imagediv {
  display: flex;
  flex: 1;
  background-size: cover; /* Ensure the image covers the div */
  background-position: center; /* Center the image */
  height: 100%; /* Use full height of the parent */
}

.titleTextDiv {
  display: flex;
  flex: 2;
  height: 100%; /* Use full height of the parent */
  justify-content: center;
  align-items: center;
}

.titleTextDiv h3 {
  margin: 0;
}



/* For screens smaller than 768px (typically mobile devices) */
@media (max-width: 768px) {
  .cardbox {
    height: 10vh; /* Adjust height for smaller screens */
    width: 35vw; /* Adjust width for smaller screens, using a percentage of the viewport width */
  }
}

